.mails-list {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
    height: 70vh;
    gap:10px;
}

.mail-preview.subject{
    grid-column: 2;
}