/* Compose btn */ 
.glow-on-hover {
    width: 200px;
    height: 40px;
    margin: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* main Layout */

.mail-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media screen and (min-width:644px) {
  .mail-container{
    grid-template-columns: 1fr 3fr;

  }
}

.mail-container .nav-btn a.active{
  background: #ff003b;
}

/* mail-nav-btn */
.mail-menu-btn{
  background-color: whitesmoke;
  width: 47px;
  height: 47px;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  border-radius: 10px;
  border: 2px solid #333;
  display: block;
}
@media screen and (min-width:644px) {
  .search-space .mail-menu-btn{
    display: none;
  }
}

.app-btn {
    grid-column: 1;
    grid-row:1;
  }

  
.nav-btn {
  background-color: whitesmoke;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: -100%;
  transition: 0.5s;
}

@media screen and (min-width:644px) {
  .nav-btn{
position: static;  }
}

.nav-btn.mail-menu-open {
  left: 5%;

}

  .nav-btn a{
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin:10px;
  }
  
  .nav-btn a span{
    position: relative;
    z-index: 2;
  }
  
  .nav-btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
  .nav-btn a:hover{
    color: #fff;
  }
  
  .nav-btn a:hover:after{
    width: 100%;
  }




