*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lato;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.mail-main, .note-index, .about, .home {
    padding-block-start: 6em;
}

ul, ol {
    padding-inline-start: 1.12em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block-end: 1em;
}

p {
    margin: 0;
    margin-block-end: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button, input[type="color"] {
    cursor: pointer;
}

iframe {
    aspect-ratio: 4/3;
}