.notes-container {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    column-count: auto;
    column-width: 240px;
    column-gap: 16px;
}

section.notes-container .note-card {
    padding: 1em;
    min-height: 104px;
    width: 240px;
    max-height: min-content;
    background-color: aquamarine;
    font-family: Lato;
    break-inside: avoid-column;
    margin-block-end: 16px;
}