.note-modal {
    width: 95%;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    border: none;
    /* height: 100vh; */
    z-index: 2;
}

.note-modal input {
    width: 100%;
    padding: 0.8em;
    font-size: 1.25rem;
}

.note-modal button {
    font-size: 1.25rem;
}

@media screen and (min-width: 568px){
    .note-modal {
        width: 500px;
        height: initial;
    }
}