.notes-container {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    columns: 240px auto;
    column-gap: 16px;
    text-align: center;
}

section.notes-container .note-card {
    padding: 1em;
    min-height: 104px;
    width: 240px;
    max-height: min-content;
    font-family: Lato;
    break-inside: avoid-column;
    margin-block-end: 16px;
    display: inline-block;
    text-align: initial;
    border-radius: 1em;
    border: 1px solid var(--notes-border-clr);
}