.note-add  {
    text-align: center;
    margin-block-end: 1em;
}

.note-add .note-inputs {
    position: relative;
}

.note-add input {
    padding: 0.8em;
    border-radius: 0.6em;
    border: 2px solid var(--notes-border-clr);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    font-size: 1rem;
}

.note-add input:focus {
    outline: 2px solid rgb(136, 136, 136);
}

.note-add-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 0.6em;
    border: 2px solid var(--notes-border-clr);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
}

.note-add-section div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0.5em;
}

.note-add-section div button {
    background:none;
    border: none;
    cursor: pointer;
    padding: 0.6em 1.6em;
    border-radius: 0.6em;
}

.note-add-section div button:hover {
    background-color: var(--notes-border-clr);
}

.note-add-section input {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.note-add-section input:focus {
    outline: none;
}

.note-add .note-add-buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -40%);
    display: flex;
    justify-content: flex-e;
    gap: 0.5em;
    padding: 0 0.5em;
}

.note-add .note-add-buttons button {
    font-size: 1.25rem;
    background: none;
    border: none;
    color: rgb(122, 122, 122);
    transition: color 0.15s ease-in-out;
}

.note-add .note-add-buttons button:hover {
    color: black;
}

@media screen and (min-width: 568px){
    .note-add-section, .note-add input{
        width: 500px;
    }
}